body{
    background: url(/fotos/fonoBody.jpg) 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

#btn-login{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#menorDeEdad{
    display: none;
}

